// General Stuff for sharing the pipeline
manifest {
    homePage = 'https://github.com/cedars-sinai-genomics-core/CUT-and-TAG'
    description = 'Pipeline to trim, align, peak call and QC reads for CUT&Tag'
    mainScript = 'main.nf'
    version = '1.0.0'
    name = 'CUT&Tag'
}

//Profile config names for nf-core/configs
params {
  config_profile_description = 'Cedars-Sinai Medical Center HPC Profile'
  config_profile_contact = 'Alex Rajewski (@rajewski)'
  config_profile_url = 'https://www.cedars-sinai.edu/research/cores/informatics-computing/resources.html'
  sampleSheet='NF_Metadata.tsv'
  Ref='/common/genomics-core/reference/Bowtie/mm10/mm10*'
  SpikeRef='/common/genomics-core/reference/Bowtie/fastq_screen/Ecoli/Ecoli*'
  GTF = '/common/genomics-core/reference/Genome_Sequences/GRCm38.p4/gencode.vM8.annotation.gtf'
  minQualityScore = 2
  binLen = 50
  Spike = false
  chromSize = '/common/genomics-core/apps/CUT-and-TAG/mm10.chrom.sizes'
  RenameQC = '/common/genomics-core/apps/CUT-and-TAG/QC_Rename.tsv'
  FDR_Thresh = 0.01
}

executor {
  name = "sge"
  queueSize = "100"
}

tower {
  workspaceId = '46068346608113'
  enabled = true
}

singularity {
  runOptions = '-B /common/genomics-core/'
  enabled = true
  autoMounts = true
}

process {
	// General Container
	container = '/common/genomics-core/apps/CUT-and-TAG/CUT-AND-TAG.v0.1.10.sif'

	penv = 'smp'

	beforeScript =
	"""
	module load 'singularity/3.6.0'
	"""

	withName:Trim {
	        container = "/common/genomics-core/apps/CUT-and-TAG/Trim_Galore_v0.6.7.sif"
	}

	withName: 'MarkDup' {
		queue = 'highmem.q'
                memory = '120G'
	}
}
